
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th> Author </th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
         <% if article.user %>
            by <%= link_to article.user.username, user_path(article.user) %>
          <% end %>
        </td>
        <td><%= link_to 'Show', articles_v2_path(article) %></td>
      
        <%# to provide an id for each link we need to put its path as artcile_path (tablename_path) and specify method got request%>
        <%# please note that for the name ruby framework will remove last s as its not plural, so instead of articles_v2s_path put articles_v2_path %>
        
        <% if logged_in? && article.user == current_user %>
          <td><%= link_to 'Edit', edit_articles_v2_path(article) %></td>
          <td><%= link_to 'Delete', articles_v2_path(article), method: :delete, data: { confirm: "Are you sure"} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<%= link_to 'Create new article', new_articles_v2_path %>
</p>