<h1>Articles listing page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', articles_v2_path(article) %></td>
         <td><%= link_to 'Edit', edit_articles_v2_path(article) %></td>
        <%# to provide and id for each link we need to put its path as artcile_path (tablename_path) and specify method got request%>
        <%# please note that for the name ruby framework will remove last s as its not plural, so instead of articles_v2s_path put articles_v2_path %>
        <td><%= link_to 'Delete', articles_v2_path(article), method: :delete, data: { confirm: "Sre you sure"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<%= link_to 'Create new article', new_articles_v2_path %>
</p>